/********************/
/*      COLORS      */
/* blue #24B0E6 rgb(36, 176, 230) */
/* green #8CC640 rgb(140, 198, 64) */
/* black #4A4A4A */
/* grey #B9B9B9 */
/* darker grey #B8B8B8 */
/* light grey #F6F6F6 */
/********************/

/********************/
/*     DESKTOP      */
/********************/

/* COMMON STYLES */
body {
  color: #4A4A4A;
  font-family: Geneva, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 86px;
}

a {
  color: #B9B9B9;
  text-decoration: none;
}

a:hover,
a:active,
a:focus,
a.active {
  color: #4A4A4A;
  text-decoration: none;
}

h3 {
  border-bottom: 1px solid rgba(0,0,0,.08);
  padding-bottom: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.title,
.subtitle {
  font-size: 60px;
  line-height: 1.5em;
  position: relative;
}

.subtitle {
  font-size: 30px;
  margin-top: 30px;
}

.subtitle::before {
  content: '';
  position: absolute;
  top: -15px;
  bottom: auto;
  left: 50%;
  height: 5px;
  width: 30px;
  margin-left: -15px;
  display: block;
  background-color: #24B0E6;
}

.cta {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #FFF;
  color: #4A4A4A;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.cta.cta-small {
  font-size: 16px;
  padding: 5px 15px;
}

.cta.cta-border {
  border: 1px solid rgba(0,0,0,.08);
}

.cta.cta-border:hover {
  border-color: rgba(0,0,0,.3);
}

.cta.cta-primary,
.cta.cta-secondary {
  border: 1px solid transparent;
  background-color: rgba(36, 176, 230, 0.9);
  color: #FFFFFF;
}

.cta.cta-primary:hover {
  background-color: rgba(36, 176, 230, 1)
}

.cta.cta-secondary {
  background-color: rgba(140, 198, 64, 0.9);
}

.cta.cta-secondary:hover {
  background-color: rgba(140, 198, 64, 1);
}

.content {
  padding: 15px 0;
}

/* NAVBAR & FOOTER */

nav {
  text-align: center;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul,
footer ul {
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: inline-block;
}

nav ul.left {
  margin-top: 15px;
}

nav ul.right.mobile {
  display: none;
}

nav ul li,
footer ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a.nav-link {
  padding: 15px 30px;
}

nav ul li img,
footer ul li img {
  height: 50px;
}

nav ul.right.mobile img#hide-menu {
  display: none;
}

nav ul.right.mobile img#hide-menu.visible {
  display: block;
}

div.mobile-menu {
  display: none;
}

div.mobile-menu.visible {
  display: block;
}

footer {
  padding: 15px;
  color: #B9B9B9;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

footer ul li img {
  filter: grayscale(100%);
}

footer p.copyright {
  line-height: 4em;
  margin: 0;
  font-size: 12px;
}

/* HOME - DEMO */

.home section.question-inputs {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home section.question-inputs .question input,
.home section.question-inputs .question button {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.home section.question-inputs .question input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.08);
  border-radius: 0;
  font-size: 30px;
  padding: 15px 0;
}

.home section.question-inputs .question input::-webkit-input-placeholder,
.home section.question-inputs .question input::-moz-placeholder,
.home section.question-inputs .question input:-ms-input-placeholder,
.home section.question-inputs .question input:-moz-placeholder {
  color: #B9B9B9;
}

.home section.question-inputs .question button {
  width: auto;
  margin: 30px auto;
}

.home section.question-inputs .question span.my-alert {
  position: absolute;
  font-size: 12px;
  color: #B9B9B9;
}

.home section.answer {
  width: 60%;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  box-shadow: 0 30px 100px rgba(0,0,0,.09);
  border-radius: 4px 4px 0 0;
}

.home section.answer .answer-header {
  background: #EFEFEF;
  border-radius: 4px 4px 0 0;
  padding: 15px;
}

.home section.answer .answer-header h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: inline-block;
}

.home section.answer .answer-header img {
  height: 20px;
}

.home section.answer .answer-text {
  padding: 15px;
  margin-bottom: 64px;
}

.home section.answer .answer-text p {
  max-height: 400px;
  overflow: scroll;
  line-height: 1.5em;
  margin: 0;
}

.home section.answer .answer-text p.confidence {
  margin-top: 15px;
}

.home section.answer .answer-footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ABOUT - MARKETING */

.about {
  /*text-align: center;*/
}

.about .hero {
  position: relative;
  height: 400px;
  background: rgba(140, 198, 64, 0.9);
}

.about .hero .centered {
  width: 80%;
}

.about .hero .centered .title,
.about .hero .centered .subtitle {
  color: #F6F6F6;
}

/********************/
/*      TABLET      */
/********************/
@media (max-width: 769px){
  .home section.question-inputs {
    width: 90%;
  }

  .home section.question-inputs .question input {
    font-size: 25px;
  }
}

@media (max-width: 557px) {
  nav ul li a.nav-link,
  nav .cta {
    padding: 15px;
    font-size: 14px;
  }

  .home section.question-inputs .question input {
    font-size: 18px;
  }

  .about .hero {
    height: 300px;
  }

  .about .hero .centered {
    width: 100%;
  }

  .about .hero .centered .title {
    font-size: 30px;
  }

  .about .hero .centered .subtitle {
    font-size: 18px;
  }
}

/********************/
/*      MOBILE      */
/********************/

@media (max-width: 400px) {
  nav ul.left, nav ul.right {
    display: none;
  }

  nav ul.middle {
    float: left;
  }

  nav ul.right.mobile {
    display: inline-block;
  }

  nav ul.right.mobile img {
    height: 25px;
    margin-top: 10px;
  }

  div.mobile-menu {
    position: absolute;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F6F6F6;
    z-index: 100;
  }

  div.mobile-menu ul,
  div.mobile-menu li {
    display: block;
    padding: 0;
  }

  div.mobile-menu li{
    margin: 15px;
  }

  div.mobile-menu li .nav-link {
    font-size: 18px;
  }

  .home section.question-inputs {
    width: 100%;
  }

  .home section.question-inputs .question input {
    font-size: 18px;
  }

  footer p.copyright {
    font-size: 8px;
  }

  footer ul.left {
    display: none;
  }
}
